.contacts {
  min-height: 989px;
  background-color: #262c27;
  padding: 101px 83px;
  position: relative;
  &__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
  }
  &__input {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    opacity: 0.2;
    margin-bottom: 67px;
  }
  &__btn {
    width: 193px;
    height: 42px;
    background-color: #ffffff;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 97px;
    transition: all 0.3s;
    &:hover {
      color: #ffffff;
      background-color: #000000;
    }
  }
  &__insta {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 28px;
    transition: all 0.3s;
    &:hover {
      color: black;
    }
  }
  &__wrapper {
    margin: 0 auto;
    margin-bottom: 51px;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    width: 260px;
    height: 260px;

    img {
      width: 100%;
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-transform: uppercase;

    font-weight: 700;
    font-size: 18px;

    color: #ffffff;
    &:hover{
      color:#000000
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    right: 0;
    transition: fill 0.5s;
    &:hover path {
      fill: #0093a1;
    }
  }
}
