.info {
  background: url("../img/bg2.jpg") center (center/cover) no-repeat;
  min-height: 1750px;
  padding: 75px 0 50px 0;
  &__content-up {
    display: flex;
    justify-content: start;
  }
  &-text {
    width: 290px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 226px;
    margin-right: 82px;
    &-2 {
      border-bottom: 1px solid #ffffff;
      margin-bottom: 30px;
    }
  }
  &__img {
    z-index: 2;
  }
  &__content-down {
    text-transform: uppercase;
    margin-top: 605px;
    display: flex;
    align-items: center;
  }
  &__title {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 60px;
    margin-right: 162px;
    color: #ffffff;
  }
  &__list {
    padding: 30px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 30px 0;
  }
  &__item {
    width: 643px;
    display: flex;
    justify-content: flex-start;
  }
  &__text {
    margin-left: 25px;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    &-1 {
      width: 178px;
    }
  }
}
